
.addTaskButton{
    background-color: transparent;
    border: transparent;
    font-size: 30px;
}

button{
    border: none;
}

.task {
    background-color: #98ff96;
    border-radius: 10px;
    padding: 4px;
    margin-top: 4px;
    color: var(--light);
    cursor: pointer;
}

.done {
    text-decoration: line-through;
    border-radius: 10px;
    background-color: #ee4242;
}
